{% extends 'base.html' %}

{% block content %}

    <!-- {% for student in estudantes %}
        {{ student.naran_aluno }}
        {{ student.sexu }}
        {{ student.idade }}
        {{ student.data_moris }}
        {{ student.hela_fatin }}
        {{ student.email }}
        {{ student.status }}
        {{ student.naran_dep }}
    {% endfor %} -->

    <a href="{% url 'input_estudante' %}" class="btn btn-sm bg-success text-white">Registu Estudante</a>

    <table class="table">
        <thead>
            <tr>
            <th>NRE</th>
            <th>Naran Kompletu</th>
            <th>Sexu</th>
            <th>idade</th>
            <th>Data Moris</th>
            <th>Hela Fatin</th>
            <th>Email</th>
            <th>Departamento</th>
            <th>Status</th>
            <th>Asaun</th>
        </tr>
        </thead>
        <tbody>
            {% for student in estudantes %}
            <tr>
                <td>{{student.nre}}</td>
                <td>{{ student.naran_aluno }}</td>
                <td>{{ student.sexu }}</td>
                <td>{{ student.idade }}</td>
                <td>{{ student.data_moris }}</td>
                <td>{{ student.hela_fatin }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.naran_dep }}</td>
                <td>
                    {% if student.status == True %}
                        <span class="badge bg-success">Ativu</span>
                    {% else %}
                        <span class="badge bg-danger">Ativu</span>
                    {% endif %}
                </td>

                <td>
                    <div class="d-flex gap-1">
                        <a href="{% url 'edit_estudante' student.id %}" class="btn btn-sm bg-warning text-white">Hadia</a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ student.id }}">Hamoos</button>
                    </div>
                </td>
                
            </tr>
            {% include "delete_modal.html" %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}