{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Amizade Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center py-5">

    <div class="card shadow-sm w-100" style="max-width: 400px;">

        <div class="card-body p-4">

            <h3 class="text-center mb-4">Login</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <!-- Username -->
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username }}
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password }}
                </div>

                <!-- Button -->
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
